/* Navbar.css */
.navbar {
  width: 100%;
  height: 120px; /* Adjust height as necessary */
  background-color: #191919; /* Adjust background color as necessary */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays on top */
}

.navbar .navbar-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  width: 100%;
}

.auth0-logo {
  height: 100px; /* Adjust height as necessary */
  margin-right: 40px; /* Adjust margin as necessary */
}

.navbar h1 {
  margin: 0;
  font-size: 2.5rem; /* Adjust font size as necessary */
}