/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

a {
  text-decoration: none;
  color: #6200ea;
}

a:hover {
  text-decoration: underline;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

aside {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 320px; /* Sidebar width (300px) + additional spacing (20px) */
}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 120px;
}

.main-content .content {
  padding-left: 0; /* Remove padding when sidebar is not present */
}

.sidebar {
  width: 250px;
  background: #f1f1f1;
  padding: 1rem;
}

.carousel-container {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.slick-prev, .slick-next {
  z-index: 1;
  color: black;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
  color: black;
}